body{
    background-image: linear-gradient(rgb(0, 110, 255), rgb(209, 14, 209));
}
.login_div
{
	background: rgba(255,255,255,0.8);float: none;border-radius: 15px;height: 225px; padding: 1px;
}
.header
{
	color: white;font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}
.header img
{
	width: 60px;margin-left: -15px;
}
#logout{
    font-size: 20px; float: right;
}
#output
{
	padding: 10px; width:80%;background: rgba(255,255,255,0.8);border-radius: 15px;
}
.room_name{
	font-size: 25px;
}
.input_div_message
{
	position: fixed;bottom: 0px;width: 100%;background: rgba(255,255,255,0.8);
}
.input_div_message label
{
	color: black;
}
.input_div_message #msg
{
	width: 80%;
}
.input_div_message button
{
	margin-top: 15px;
	width: 50%; 
}